/* Empty file for template. Remember to edit only this file and not the HTML file */
/* basic elements */
* {
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

:root {
    --background-dark: #282828; 
    --background-mid: #454545;
    --text-light: #ffffff;
    --accent-color: #B7A5DF; 
    --shadow-color: rgba(0, 0, 0, 0.7);
}

body {
   
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0; 
    padding: 0;
    background-color: var(--background-dark);
    color: var(--text-light);
    display: flex; 
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh;
}

/* --- Layout Structure (Main Container) --- */

.page-wrapper {
    
    background-color: var(--background-mid);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px var(--shadow-color);
    width: 90%; 
    max-width: 1200px; 
    margin: 80px 0;
    display: grid;
    grid-template-columns: fr ; 
    gap: 0px;
}

/* --- Typography --- */

h1 {
    color: var(--text-light);
    font-size: 2.8em;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 5px;
    ;
    
}

h2 {
    color: var(--accent-color);
    font-size: 1.8em;
    margin-top: 30px;
    margin-bottom: 15px;
}

p {
    font-size: 1.1em;
    line-height: 1.7; 
    margin-bottom: 20px;
    text-align: justify;
}


a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
}

a:link {
    font-weight: bold;
    color: var(--accent-color);
}

div.explanation+div{
    padding: 2em;
    border-style: double;
    border-radius: 15px;
    border-width: 3px;
    border-color: rgb(255, 215, 250);    
    backdrop-filter: blur(5px);
    align-content: top;
}

.main.supporting{

    padding: 1.5em;
    border-style: double;
    border-radius: 15px;
    border-width: 3px;
    border-color: rgb(255, 215, 250);
}


div.participation~div.benefits{
    padding: 2em;
    border-style: double;
    border-radius: 15px;
    border-width: 3px;
    border-color: rgb(255, 215, 250);
    backdrop-filter: blur(5px);
}
a:hover {
    text-decoration: none;
    color: var(--text-light); 
    background-color: rgba(183, 165, 223, 0.1); 
    padding: 2px 4px;
    border-radius: 3px;
    text-shadow: 0 0 8px var(--accent-color); 